.header {
    position: relative;
    width : 100%;
    height: 200px;
    background-color: aquamarine;
    text-align: center;
}

.imgwrap {
    position: absolute;    
    left: 30px;
    top: 10px;
}