.counter_wrap {
    width: 400px;
    height: 200px;
    border: 1px solid #666;
    text-align: center;
    margin: auto;
}


.count_num {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.button_list {
    display: flex;
    gap: 5px;
    justify-content: center;
}